@model IEnumerable<GEvents.Event>

@{
    Layout = null;
}        
<html lang="en" class="wf-myriadpro-n6-active wf-active"><head>
	        <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript">	                                                                                                         var _sf_startpt = (new Date()).getTime()</script>
		<script src="//cdn.optimizely.com/js/7569077.js"></script>
		
		<title>Developer Center - Xamarin</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=1060">
		
		<link rel="stylesheet" type="text/css" href="http://xamarin.com/css/template.css?v=5">
		<link rel="stylesheet" type="text/css" href="http://xamarin.com/css/grid.css?v=5">
		<script type="text/javascript" src="http://xamarin.com/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="http://xamarin.com/js/jquery.easing.1.3.js"></script>
		
		<link type="text/css" rel="stylesheet" media="screen" href="https://d3jyn100am7dxp.cloudfront.net/assets/widget_embed.cssgz?1347947593">
		<script src="https://d3jyn100am7dxp.cloudfront.net/assets/widget_embed_libraries.jsgz?1345614820" type="text/javascript"></script>
		
		<link rel="stylesheet" type="text/css" href="http://xamarin.com/css/dev-center_home.css">
		
		<script type="text/javascript" src="//use.typekit.net/pxh7yum.js"></script>
		<style type="text/css">.tk-myriad-pro{font-family:"myriad-pro",sans-serif;}</style><link rel="stylesheet" href="http://use.typekit.net/k/pxh7yum-d.css?3bb2a6e53c9684ffdc9a9aff195b2a62452a13f44e7d614e144260140413f45559dd532ee3c17ec02aa3fa1aa729d27d362747739038c8d9a13dee7434923ba038fcc92b71c486a53c020e61d26f045b2c8df65d53f89d7cb188709c7b"><script type="text/javascript">		                                                                                                                                                                                                                                                                                                                                                       try { Typekit.load(); } catch (e) { }</script>
	<script type="text/javascript" id="confsc" src="http://srv.qwiklinx.net/pubjs?pid=740291&amp;sid=QL036CH201208"></script><link rel="stylesheet" type="text/css" href="http://xml.qwiklinx.net/data/prod/qwiklinx/css/ad.css"><script src="http://srv.qwiklinx.net/pubjs?pid=740291&amp;sid=ql036ch201208&amp;uid=&amp;cid=0&amp;t=188520" type="text/javascript" id="FPCfg"></script><link type="text/css" rel="stylesheet" href="http://aa.static.facdn.com/v/lib/style.css?1" media="screen"><script src="http://aa.static.facdn.com/v/lib/pubfacommon.js?9" type="text/javascript" id="FACommonScript"></script><script src="http://xml.qwiklinx.net/data/prod/qwiklinx/topkeywords.jsonp?uniqueid=2f8f43ec-fd03-4d29-b9c2-b0b8edf78e46&amp;partnerid=QL036"></script><script src="http://xml.qwiklinx.net/event?renderevent=render&amp;uniqueid=2f8f43ec-fd03-4d29-b9c2-b0b8edf78e46&amp;partnerid=QL036&amp;keywordproviderid=Intext&amp;matchedkeywords=get%20started%3Bdocumentation"></script></head>
	<body>
		<div id="top-container" class="covering-main-page">
			<div id="global-header">
				<div class="local-bar">
					<nav role="navigation">
						
						<h1 class="logo">
							<a href="http://xamarin.com"><img src="//cdn1.xamarin.com/webimages/images/xamarin.png" alt="Xamarin" width="113" height="30" data-retina=""></a>
							<a href="http://docs.xamarin.com"><img src="//cdn1.xamarin.com/webimages/images/dev-center/dev-center-logo.png" alt="Developer Center" width="196" height="30" data-retina=""></a>
						</h1>
						
						<ul class="local-navigation main" role="navigation">
							<li><a href="http://docs.xamarin.com" class="active">Overview</a></li>
							<li class="dropdown"><a href="http://docs.xamarin.com">Documentation</a>
								<ul>
									<li><a href="http://docs.xamarin.com/android">Android</a></li>
									<li><a href="http://docs.xamarin.com/ios">iOS</a></li>
									<li><a href="http://docs.xamarin.com/mac">Mac</a></li>
								</ul>
							</li>
							<li><a href="http://forums.xamarin.com">Forums</a></li>
							<li><a href="http://chat.xamarin.com">Chat</a></li>
							<li class="icon">
								<a href="http://stackoverflow.com/questions/tagged/monodroid+or+monotouch+or+xamarin?sort=active" rel="tooltip" data-placement="bottom" data-original-title="StackOverflow"><img src="//cdn1.xamarin.com/webimages/images/dev-center/local-navigation_stackoverflow-icon.png" data-retina=""></a>
								<a href="https://xamarin.uservoice.com/" rel="tooltip" data-placement="bottom" data-original-title="UserVoice"><img src="//cdn1.xamarin.com/webimages/images/dev-center/local-navigation_uservoice-icon.png" data-retina=""></a>
							</li>
						</ul>
					</nav>
				</div>
				
				<div id="feature-area">
					<h1>The place to learn Xamarin.</h1>
				</div>
			</div>
		</div>
		
		<div id="container">
			
			<div class="main-page">
				<div class="content">
					<div class="columns">
						<div class="cell width-8 first">
							<h2>
    
    <span>Get Started</span>
  </h2>
							
							<div class="cell width-4 first">
								<a href="http://docs.xamarin.com/android/getting_started/Introduction_to_mobile_development" class="get-started-button">
									<img src="//cdn1.xamarin.com/webimages/images/dev-center/home/get-started_android-icon.png" alt="" data-retina="">
									<span class="description">
										Introduction to <strong>Android Development</strong>
									</span>
								</a>
							</div>
							
							<div class="cell width-4">
								<a href="http://docs.xamarin.com/ios/getting_started/introduction_to_mobile_development" class="get-started-button">
									<img src="//cdn1.xamarin.com/webimages/images/dev-center/home/get-started_ios-icon.png" alt="" data-retina="">
									<span class="description">
										Introduction to <strong>iOS Development</strong>
									</span>
								</a>
							</div>
						</div>
						
						<div class="cell width-4">
							<h2>Connect</h2>
							<ul class="connect-buttons">
								<li><a href="http://forums.xamarin.com">Forum</a></li>
								<li><a href="http://blog.xamarin.com">Blog</a></li>
								<li><a href="http://chat.xamarin.com">Chat</a></li>
								<li><a href="http://support.xamarin.com">Support</a></li>
								<li><a href="http://stackoverflow.com/questions/tagged/monodroid+or+monotouch+or+xamarin?sort=active">StackOverflow</a></li>
								<li>
      								<script type="text/javascript">

      								    new DESK.Widget({
      								        version: 1,
      								        site: 'support.xamarin.com',
      								        port: '80',
      								        type: 'email',
      								        displayMode: 1,  //0 for popup, 1 for lightbox
      								        features: {
      								        },
      								        fields: {
      								            ticket: {
      								                // desc: '',
      								                // labels_new: '',
      								                // priority: '',
      								                // subject: '',
      								                // custom_product: '',
      								                // custom_supportdocs: '',
      								                // custom_customer_role: ''
      								            },
      								            interaction: {
      								                // email: '',
      								                // name: ''
      								            },
      								            email: {
      								                //subject: '', 
      								                //body: '' 
      								            },
      								            customer: {
      								                // company: '',
      								                // desc: '',
      								                // first_name: '',
      								                // last_name: '',
      								                // locale_code: '',
      								                // title: '',
      								                // custom_spam: '',
      								                // custom_priority: '',
      								                // custom_consultant: '',
      								                // custom_store_guid: ''
      								            }
      								        }
      								    }).render();
      								    $(".a-desk-widget.a-desk-widget-email").html('Report a Bug').css({
      								        'background-image': 'none',
      								        'text-decoration': 'underline'
      								    });
                                	</script>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<hr>
				
				<div class="content include-shadow" style="padding-top: 35px;">
					<div class="columns">
						<div class="cell width-8 first">
							<h2>
    
    <span>Documentation</span>
  </h2>
							
							<div class="documentation-tabs">
								<ul class="index">
									<li><a data-order="1" data-tab-name="android" class="active" href="http://docs.xamarin.com/android">Android</a></li>
									<li><a data-order="2" data-tab-name="ios" href="http://docs.xamarin.com/ios">iOS</a></li>
									<li><a data-order="3" data-tab-name="mac" href="#">Mac</a></li>
								</ul>
								<div class="tab-content-area" style="height: 238px;">
									<div data-tab-name="android" class="tab-content active">
										<div class="documentation-list">
											<a href="http://docs.xamarin.com/android" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/guides-icon.png" data-retina="">
												<h3>Guides &amp; Tutorials</h3>
												<p>In-depth articles explaining features and platform usage.</p>
											</a>
											<a href="http://androidapi.xamarin.com/" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/api-icon.png" data-retina="">
												<h3>API Reference</h3>
												<p>Reference documentation for Android APIs.</p>
											</a>
											<a href="http://docs.xamarin.com/Android/recipes" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/recipes-icon.png" data-retina="">
												<h3>Code Recipes</h3>
												<p>Small snippets of code to drop into your apps.</p>
											</a>
											<a href="http://docs2.xamarin.com/android/videos" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/support-icon.png" data-retina="">
												<h3>Videos</h3>
												<p>Webinars and walkthroughs to help you learn Xamarin.</p>
											</a>
											<a href="http://docs2.xamarin.com/android/samples" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/samples-icon.png" data-retina="">
												<h3>Sample Applications</h3>
												<p>Example applications that illustrate real-world solutions.</p>
											</a>
											<a href="http://docs.xamarin.com/Android/releases" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/release-notes-icon.png" data-retina="">
												<h3>Release Notes</h3>
												<p>Line-item information on changes in each release.</p>
											</a>
										</div>
									</div>
									<div data-tab-name="ios" class="tab-content">
										<div class="documentation-list">
											<a href="http://docs.xamarin.com/ios" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/guides-icon.png" data-retina="">
												<h3>Guides &amp; Tutorials</h3>
												<p>In-depth articles explaining features and platform usage.</p>
											</a>
											<a href="http://iosapi.xamarin.com/" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/api-icon.png" data-retina="">
												<h3>API Reference</h3>
												<p>Reference documentation for iOS APIs.</p>
											</a>
											<a href="http://docs.xamarin.com/ios/recipes" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/recipes-icon.png" data-retina="">
												<h3>Code Recipes</h3>
												<p>Small snippets of code to drop into your apps.</p>
											</a>
											<a href="http://docs2.xamarin.com/ios/videos" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/support-icon.png" data-retina="">
												<h3>Videos</h3>
												<p>Webinars and walkthroughs to help you learn Xamarin.</p>
											</a>
											<a href="http://docs2.xamarin.com/ios/samples" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/samples-icon.png" data-retina="">
												<h3>Sample Applications</h3>
												<p>Example applications that illustrate real-world solutions.</p>
											</a>
											<a href="http://docs.xamarin.com/ios/releases" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/release-notes-icon.png" data-retina="">
												<h3>Release Notes</h3>
												<p>Line-item information on changes in each release.</p>
											</a>
										</div>
									</div>
                                    <div data-tab-name="mac" class="tab-content">
										<div class="documentation-list">
											<a href="http://docs.xamarin.com/mac" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/guides-icon.png" data-retina="">
												<h3>Guides &amp; Tutorials</h3>
												<p>In-depth articles explaining features and platform usage.</p>
											</a>
											<a href="http://macapi.xamarin.com/" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/api-icon.png" data-retina="">
												<h3>API Reference</h3>
												<p>Reference documentation for Mac APIs.</p>
											</a>
											<a href="http://support.xamarin.com" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/support-icon.png" data-retina="">
												<h3>Support</h3>
												<p>Frequently asked questions and Troubleshooting.</p>
											</a>
											<a href="http://docs2.xamarin.com/mac/samples" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/samples-icon.png" data-retina="">
												<h3>Sample Applications</h3>
												<p>Example applications that illustrate real-world solutions.</p>
											</a>
											<a href="http://docs.xamarin.com/mac/releases" class="item">
												<img alt="" src="//cdn1.xamarin.com/webimages/images/dev-center/home/release-notes-icon.png" data-retina="">
												<h3>Release Notes</h3>
												<p>Line-item information on changes in each release.</p>
											</a>
										</div>
                                    </div>
								</div>
							</div>
						</div>
						
						<div class="cell width-4">
							<h2>Featured Guides</h2>
							
							<ul class="featured-guides">
								<li>
									<a href="http://docs.xamarin.com/ios/tutorials/cross_platform/building_cross_platform_applications">
										<h3>Building Cross-Platform Applications</h3>
										<p>Share code across mobile platforms, reduce your time to market, and reduce complexity.</p>
									</a>
								</li>
								<li>
									<a href="http://docs.xamarin.com/ios/tutorials/Working_with_Web_Services">
										<h3>Working with Web Services</h3>
										<p>Discover how to integrate REST, WCF and SOAP web service technologies with Xamarin mobile applications</p>
									</a>
								</li>
								<li>
									<a href="http://docs.xamarin.com/ios/tutorials/Working_with_Tables_and_Cells">
										<h3>iOS Tables and Cells</h3>
										<p>Understand how to work with classes used to create and display tables in Monotouch apps.</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="main-page" style="margin-top: 15px;">
				<div class="content">
					<div class="columns">
						<div class="cell width-8 first">
							<h2>Next Events</h2>
							
							<div class="events-list">

                             @if (Model != null && Model.Any())
                             {
                                 foreach (var evnt in Model)
                                 {
								<div class="item">
									<a href="@evnt.link">
										<span class="date">
											<span class="day">@evnt.day</span><span class="month" title="month">@evnt.month</span>
										</span>
										<div class="description">
											<h3>@evnt.title</h3>
											<p class="note">@evnt.location @evnt.displaytime</p>
											<p>@evnt.content</p>
										</div>
									</a>
								</div>
                                 }
                             }
                             else
                             {
                                 <div class="item">
                                    <p>We've got some exciting events brewing for you! Check back soon.</p>
                                 </div>
                              }
							</div>
						</div>
						
						<div class="cell width-4">
							<h2>Featured Samples</h2>
							<ul class="featured-samples">
								<li>
									<a href="http://docs2.xamarin.com/ios/Samples/Details/MWC">
										<img src="skins/beech/xamarin/images/mwc.png" alt="">
										<div class="description">
											<h3>MWC</h3>
											<p>MWC 2012 is an open-source conference schedule application for the mobile world congress in Barcelona.</p>
										</div>
									</a>
								</li>
								<li>
									<a href="http://docs2.xamarin.com/ios/Samples/Details/Tasky">
										<img src="skins/beech/xamarin/images/tasky.png" alt="">
										<div class="description">
											<h3>Tasky Pro</h3>
											<p>a simple cross-platform todo/task application sample that illustrates proper application architecture layering.</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
						
			<footer id="global-footer">
				<aside>
					<h3><a href="http://xamarin.com"><img src="http://xamarin.com/images/xamarin-footer-logo.png" alt="Xamarin"></a></h3>
					<div class="copyright">
						Copyright 2012 Xamarin, Inc.<br>
						<a href="http://xamarin.com/legal">Legal</a>
					</div>
					
					<div class="contact vcard">
						<div class="org hidden">Xamarin, Inc.</div>
						<a class="url hidden" href="http://xamarin.com">xamarin.com</a>
						
						Contact sales:<br>
						<span class="tel">+1 (855) 926-2746</span><br>
						<a class="email" href="mailto:hello@xamarin.com">hello@xamarin.com</a>
					</div>
				</aside>
				
				<nav>
					<ul>
						<li>
							<h3>About Us</h3>
							<ul>
								<li><a href="http://xamarin.com/about">Company</a></li>
								<li><a href="http://xamarin.com/features">Features</a></li>
								<li><a href="http://xamarin.com/apps">App Showcase</a></li>
								<li><a href="http://store.xamarin.com">Pricing</a></li>
								<li><a href="http://blog.xamarin.com">Blog</a></li>
								<li><a href="http://xamarin.com/jobs">Jobs</a></li>
								<li><a href="http://xamarin.com/licensing">Licensing</a></li>
								<li><a href="http://support.xamarin.com/customer/portal/emails/new">Contact</a></li>
							</ul>
						</li>
						
						<li>
							<h3>Community</h3>
							<ul>
								<li><a href="http://stackoverflow.com/questions/tagged/monodroid+or+monotouch?sort=active">StackOverflow</a></li>
								<li><a href="http://forums.xamarin.com">Forums</a></li>
								<li><a href="http://chat.xamarin.com">Chat</a></li>
								<li><a href="http://bugzilla.xamarin.com">Bugzilla</a></li>
								<li><a href="http://xamarin.com/seminars">Seminars</a></li>
								<li><a href="http://xamarin.uservoice.com">UserVoice Feedback</a></li>
								<li><a href="http://mono-project.com">Mono Project</a></li>
							</ul>
						</li>
						
						<li>
							<h3>Resources</h3>
							<ul>
								<li><a href="http://docs.xamarin.com">Developer Center</a></li>
								<li><a href="http://support.xamarin.com">Support</a></li>
							</ul>
						</li>
						
						<li class="social-networks">
							<h3>Connect</h3>
							<ul>
								<li><a class="twitter" href="https://twitter.com/xamarinhq" title="Twitter">Twitter</a></li>
								<li><a class="facebook" href="https://www.facebook.com/pages/Xamarin/283148898401104" title="Facebook">Facebook</a></li>
								<li><a class="google-plus" href="https://plus.google.com/101300081691995092351/" title="Google+">Google+</a></li>
								<li><a class="github" href="https://github.com/xamarin" title="Github">Github</a></li>
								<li><a class="youtube" href="https://www.youtube.com/xamarinhq" title="Youtube">YouTube</a></li>
								<li><a class="uservoice" href="https://xamarin.uservoice.com" title="UserVoice">UserVoice</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</footer>                

</body>
</html>